	<!-- articles -->
	<div class="articles">
		<div class="container">
			{{#each articles}}
			<div class="row">
				<div class="col-md-8">
					<article>
						<div class="article-content">
							<h2><a href="{{this.href}}">{{this.title}}</a></h2>
							<p>{{this.content}}</p>
						</div>
						<div class="comment-submission">
							<textarea class="comment-box" data-role="{{this.article_id}}"></textarea>
							<br />
							<a href="" class="btn btn-primary submit-comment" data-role="{{this.article_id}}">Leave Comment</a>
						</div>
						<div class="comments-display" data-role="{{this.article_id}}">
							{{#each this.comments}}
							<div class="comment-container">
								<p class="{{this.posted}}">{{this.comment}}</p>
								<a href="" class="btn btn-danger delete-comment" data-role="{{this.posted}}">Delete Comment</a>
							</div>
							{{/each}}
						</div>
					</article>
				</div>
			</div>
			{{/each}}
		</div>
	</div>