	<!-- articles -->
	<div class="articles">
		<div class="container">
			{{#each articles}}
			<div class="row">
				<div class="col-md-8">
					<article>
						<div class="article-content">
							<h2><a href="{{this.href}}">{{this.title}}</a></h2>
							<h5>SECTION: <a href="{{this.slug_href}}">{{this.slug}}</a> / AFFILIATE: <a href="{{this.affiliation_href}}">{{this.affiliation}}</a></h5>
							<p class="p-content">{{this.content}}</p>
						</div>
						<div class="comment-submission">
							<textarea class="comment-box" data-role="{{this.article_id}}"></textarea>
							<br />
							<a href="" class="btn btn-primary submit-comment" data-role="{{this.article_id}}">Leave Comment</a>
						</div>
						<div class="comments-display" data-role="{{this.article_id}}">
							{{#each this.comments}}
							<div class="comment-container" data-role={{this.posted}}>
								<div class="delete-button-container">
									<a href="" class="btn btn-xs btn-danger delete-comment" data-role="{{this.posted}}">Delete</a>
								</div>
								<div class="comment">
									<p class="{{this.posted}}">{{this.comment}}</p>
									<p class="p-time"><span class="time-posted">{{this.posted}}</span> time since comment</p>
								</div>
							</div>
							{{/each}}
						</div>
					</article>
				</div>
			</div>
			{{/each}}
		</div>
	</div>